.header
  .headerBody
    .headerBox
      .icon
        =link_to image_tag('logo.png', size: '140x40'), "/"
      %form.form
        %input{placeholder: "キーワードから探す", class: "form__input", type: "text"}
        #search.form__icon
          =link_to image_tag("icon-search 1.png", size: "19x19") 
      .searchList
        .listBox
    .underBody
      .left
        .leftCategori
          カテゴリ
          %ul.parent__tree
            - @category_parent_array.each do |parent|
              %li.parent__tree__item
                = link_to "#{parent.name}", "#", class:"parent"

                %ul.children__tree
                  - parent.children.each do |child|
                    %li.children__tree__item
                      = link_to "#{child.name}", "#", class:"child"

                      %ul.grandchildren__tree
                        - child.children.each do |grandchild|
                          %li.grandchildren__tree__item
                            = link_to "#{grandchild.name}", "#", class:"grandchild"
        .leftBrand
          ブランド
          .brandNone
      %ul.right
        - if user_signed_in?
          %li.right__login
            = link_to "マイページ", mypages_index_path, class: "right__none" 
          %li.right__signup
            = link_to "ログアウト", "#", class: "right__none" 
        - else
          %li.right__login
            =link_to "ログイン", new_user_session_path, class: "right__none"
          %li.right__signup
            =link_to "新規会員登録", users_signup_path, class: "right__none"


