.item-container
  .item-head
    %h2.item-head__header
      商品の情報を入力
  .item-main
    = form_for(@item, class: 'item-main__form') do |f|
      .item-main__box
        .upload-box
          .item-main__header
            %h3.upload-bo__head
              = f.label :image, "出品画像"
            %span.form-require
              必須
          %p.upload-box__text
            最大5枚までアップロードできます
            -# 画像アップロード部分
          .item_dropbox
            .image-box__container
              #image-box
                #previews
                  - if @item.persisted?
                    - @item.images.each_with_index do |image, i|
                      = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                .js
                  = f.fields_for :images do |image|
                    .js-file_group{"data-index": "#{image.index}"}
                      = image.file_field :src, class: 'js-file'
                      %br/
                      %span.js-remove 消去
                    - if @item.persisted?
                      = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                  - if @item.persisted?
                    .js-file_group{"data-index": "#{@item.images.count}"}
                      = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file',id: 'img-file'
                      .js-remove 消去
      .item-main__content
        .item-main__content-form-group
          .item-main__content-head
            = f.label :name do
              商品名
            %span.form-require
              必須
          = f.text_field :name, class: 'input-default', placeholder: "商品名（40字まで)"
        .item-main__content-form-group
          .item-main__header
          = f.label :description do
            商品の説明
          %span.form-require
            必須
          = f.text_area :description , class: 'textarea-default' , placeholder: "商品の説明（必須　１０００文字以内)(色、素材、重さ、定価、注意点など)例）2010年頃に１万円で購入したジャケットです。ライトグレーで傷はありません、あわせやすいのでおすすめです", rows:"7"
      .item-main__content
        %h3.subtitle
          商品の詳細
        .item-main__content-form-group
          .item-main__content-head
            = f.label 'カテゴリー', class: 'listing-default__label'
            %span.form-require
              必須
          #parent_wrapper.item-main__content-category
            %select{class: 'item-main__content-select-default', id: "parent_category", name: "item[category_id][]", data: {root: @category.parent.parent.id}}
              %option{value: ""} 選択してください
              - Category.where('ancestry IS NULL').each do |category|
                %option{value: "#{category.id}", class: "parent-category-box"} #{category.name}
          #children_wrapper.item-main__content-category
            %select{class: 'item-main__content-select-default', id: "child_category", name: "item[category_id][]", data: {child: @category.parent.id}}
              %option{value: ""} 選択してください
              - @child_categories.each do |category|
                %option{value: "#{category.id}"} #{category.name}
          #grandchildren_wrapper.item-main__content-category
            = f.collection_select :category_id, @grand_child, :id, :name, {prompt: "選択してください"}, class: 'item-main__content-select-default', id: 'parent_category-edit'
        .item-main__content-form-group
          .item-main__content-head
            = f.label :brand_id do
              ブランド
            %span.form-elective
              任意
            = f.fields_for :brand do |b|
              .item-main__content-select
                = b.text_field :name, placeholder: "例）シャネル", value: "", class: "item-main__content-select-default", type: "text"
        .item-main__content-form-group
          .item-main__content-head
            = f.label :condition_id do
              商品の状態
            %span.form-require
              必須
          .item-main__content-select
            = f.collection_select(:condition_id ,Condition.all, :id, :condition, {prompt: "---"}, {class: 'item-main__content-select-default'})
            = icon('fas', 'chevron-down', class: "item-main__content-select_icon")
      .item-main__content
        %h3.subtitle
          配送について
        .item-main__content-form-group
          .item-main__content-head
            = f.label :postage_id do
              配送料の負担
            %span.form-require
              必須
          .item-main__content-select
            = f.collection_select(:postage_id ,Postage.all, :id, :delivery_charge, {prompt: "---"}, {class: 'item-main__content-select-default'})
            = icon('fas', 'chevron-down', class: "item-main__content-select_icon")
        .item-main__content-form-group
          .item-main__content-head
            = f.label :prefecture do
              発送元の地域
            %span.form-require
              必須
          .item-main__content-select
            = f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {prompt: "---"}, {class: 'item-main__content-select-default'})
            = icon('fas', 'chevron-down', class: "item-main__content-select_icon")
        .item-main__content-form-group
          .item-main__content-head
            = f.label :delivery_day_id do
              発送までの日数
            %span.form-require
              必須
          .item-main__content-select
            = f.collection_select( :delivery_day_id ,DeliveryDay.all, :id, :day, {prompt: "---"}, {class: 'item-main__content-select-default'})
            = icon('fas', 'chevron-down', class: "item-main__content-select_icon")
      .item-main__content
        .subtitle
          価格（300〜9,999,999）
        .content-price
          .content-price__form
            .content-price__form-left
              = f.label :price do
                販売価格
              %span.form-require
                必須
            .item_price-input
              %p.price
                ¥
              = f.number_field :price, id: 'price_calc',class: 'price_form-box', placeholder: '0'
          .item_handling_charge
            販売手数料（10%）
            .right_price
              -
            .right_bar
              ￥
          .sell_profit
            販売利益
            .right-profit_price
              -
            .right-profit_bar
              ￥
          -# ボタン
          .btn-box
            = f.submit '編集する', class: 'btn-box__red'
            = link_to root_path, class: 'btn-box__gray' do
              もどる
          .caution
            %p.caution__text
              禁止されている出品,行為を必ずご確認ください。またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売,は犯罪であり処罰される可能性があります。また、出品をもちまして,加盟店規約,に同意したことになります。




