.sell-main
  .sell-main-board
    .sell-main-board_#sub
      .form
        .formbox
        = form_for @item do |f|
          .form-box
            .form-label
              %label 出品画像
              %span.must-section 必須
              %span ※5枚まで
          #image-box
            #previews
              - if @item.persisted?
                - @item.images.each_with_index do |image, i|
                  = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
            = f.fields_for :images do |image|
              .js-file_group{"data-index" => "#{image.index}"}
                = image.file_field :src, class: 'js-file'
                %br/
                %span.js-remove delete
              - if @item.persisted?
                = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
              - if @item.persisted?
                .js-file_group{"data-index" => "#{@item.images.count}"}
                  = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                  .js-remove delete
          %hr.border
          %p.form-title
            商品
          .form-box
            .form-label
              %label 商品名
              %span.must-section 必須
            .form-textfield
              .form-textfield__input
                = f.text_field :name, placeholder: "40文字まで", type: "text"
          .form-box
            .form-label
              %label 商品の説明
              %span.must-section 必須
            .form-textfield
              .form-textfield__input
                = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", rows: "7"
              .form-textfield__count
                %span> 0/1000
          %hr.border
          %p.form-title
            商品の詳細
          .form-box
            .form-label
              %label カテゴリー
              %span.must-section 必須
            .form-select-category{id: "parent_wrapper"}
              .form-select-category__option
                %select{class: 'form-select__option-box', id: "parent_category", name: "item[category_id][]", data: {root: @category.root.id}}
                  %option{value: ""} 選択してください
                  - Category.where('ancestry IS NULL').each do |category|
                    %option{value: "#{category.id}", class: "parent-category-box"} #{category.name}
            .form-select-category{id: "children_wrapper"}
              .form-select-category__option
                %select{class: 'form-select__option-box', id: "child_category", name: "item[category_id][]", data: {child: @category.parent.id}}
                  %option{value: ""} 選択してください
                  - @child_categories.each do |category|
                    %option{value: "#{category.id}"} #{category.name}
            .form-select-category{id: "grandchildren_wrapper"}
              .form-select-category__option
                = f.collection_select :category_id, @grand_child, :id, :name, {prompt: "選択してください"}, class: 'form-select__option-box', id: 'parent_category-edit'
          .form-box
            .form-label
              %label ブランド
              %span.free-secton 任意
            .form-textfield
              = f.fields_for :brand do |brand|
                .form-textfield__input
                = brand.text_field :name, placeholder: "例）シャネル", value: "", class: "input-default", type: "text"
          .form-box
            .form-label
              %label 商品の状態
              %span.must-section 必須
            .form-select
              .form-select__option
                = f.collection_select :condition_id, @condition_array, :id, :condition, {prompt: "選択してください"}, class: 'form-select__option-box', id: 'status'
          %hr.border
          %p.form-title
            価格
          .price-box
            .price-label
              %label 販売価格
              %span.must-section 必須
            .price-textfield
              .pre
                ¥
              .price-textfield__input
                = f.text_field :price, placeholder: "0", type: "number", id: "price-calc"
          .price-box2
            .price-label
              %label 販売手数料（10%）
            .right_bar
          .price-box2
            .price-label
              %label 販売利益
              -# 計算結果格納用フォーム
            .right_bar_2
          %hr.border
          .buttons
            = f.submit "編集する",  class: "sell-button"
            = link_to "キャンセル", "#", onclick: "history.back(); return false;", class:"clear-button"
          %h1.note-text
            禁止されている
            = link_to "行為", "#"
            および
            = link_to "出品物", "#"
            を必ずご確認ください。
            = link_to "偽ブランド品", "#"
            や
            = link_to "盗品物", "#"
            などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
            = link_to "加盟店規約", "#"
            に同意したことになります。
